.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 3%);

  .modal_wrapper {
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      z-index: 100;
      position: relative;
      margin: 1.75rem auto;
      border-radius: 3px;
      width: 80%;
      padding: 2rem;
      .close_btn_area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;

        .modal_dismis{
          width: 0!important;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .modal_overlay {
    .modal_wrapper {
      .modal {
        width: 100%;
        padding: 0;
        .close_btn_area{
          display: flex;
          justify-content: flex-end;
          width: 359px;
        }
      }
    }
  }
}
