.image_gride_container {
  width: 60%;
  margin: 2rem auto;
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);

  .arch_img {
    span {
      height: 100% !important;
      width: 100% !important;
      font-size: 40px;
      color: #5a555533;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .row-1,
  .row-10 {
    grid-column: span 4;
    grid-row: span 2;
  }

  .row-2,
  .row-3,
  .row-11,
  .row-12 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .row-4,
  .row-5,
  .row-6,
  .row-7 {
    grid-column: span 1;
    grid-row: span 2;
  }

  .row-8 {
    grid-column: span 3;
    grid-row: span 2;
  }
  .row-9 {
    grid-column: span 1;
    grid-row: span 2;
  }
  .slider_contents {
    display: flex;
    flex-direction: row;
    .arrow_wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .arrow {
      border: solid #5a555533;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 15px;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
  .image_name_container {
    width: 100%;
    display: flex;
    span {
      text-align: center;
      font-size: 20px !important;
    }
  }
}
@media screen and (max-width: 1024px) {
  .image_gride_container {
    --num-cols: 2;
    --row-height: 200px;
  }
}
