.contact_parent {
  :nth-child(1),
  :nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  .our_info {
    margin-top: 30px;
  }

  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  span {
    color: #000;
    width: 485px;
    text-align: center;
  }
}
