.about_us_parent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    color: #000;
    width: 485px;
    text-align: center;
    margin-bottom: 34px;
  }
  img {
    width: 570px;
    height: 570px;
    min-width: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .about_us_parent {
    p{
      width: 348px;
    }
    span {
      width: 298px;
    }
    img {
      width: 300px;
      height: 300px;
    }
  }
}
