@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/ImagesLayout/imagesLayout.scss';
@import '../components/ModalBox/modal.scss';
@import '../Domains/AboutUs/about.scss';
@import '../Domains/Contact/contact.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
